@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gd {
    @apply hover:bg-gradient-to-r from-orange-400 to-orange-600 shadow-lg rounded-md hover:text-white;
}

.title {
    @apply text-xl md:text-2xl lg:text-3xl font-semibold text-center;
}

body {
    background-color: whitesmoke;
    color: black;
}

input {
    background-color: white;
    color: black;
    border: 1px solid white;
}
